Package: source-han-serif-kr
Version: 2.000
Architecture: all
Maintainer: Junyi Shi <hmsjy2019@gmail.com>
Provides: source-han-serif-kr
Section: fonts
Priority: optional
Homepage: https://github.com/adobe-fonts/source-han-serif
Description: Source Han Serif is a set of OpenType/CFF Pan-CJK fonts. This package provides Korean version of Source Han Serif.


